html{
    background-color: black;
}

body {
	display: flex;
	min-height: 90vh;
    font-family: 'Gloria Hallelujah', cursive;
}

.card {
    height: 120px;
    
    overflow: hidden;
    
    text-align: center;
  }
  
  
  img {
    
    margin-top: 5%
  }

  .instructionsModal {
	
    z-index: 1;
    position: absolute;
    background: rgba(243, 154, 112, 0.75);
    color: black;
    
}



nav{
    color: orange;
      background-color: rgba(0, 0, 0)
}